<html  xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml"
       xmlns:v="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
    <title>dati</title>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>

    <script src="/js/common.js"></script>
</head>
<body>
<style>
    .container{
        max-width: 1000px;
        background-color: transparent;
        min-height: 100%;
    }

</style>

<script src="/js/common.js"></script>
<div class="container" id="app" >
    <div class="form-group">
        <input  class="form-control" name="userName"  type="text" v-model="content"  required placeholder="内容"/>
    </div>
    <div class="form-group"> <button  class="btn btn-primary  btn-block" v-on:click="comment()">评价</button></div>
</div>
<script th:inline="javascript">
    var billID=[[${billID}]];
    var app = new Vue({
        el: '#app',
        data: {
            content: '',
            items:[],
        },
        methods: {
            comment: function () {
                var data = {
                    content:app.content,
                    billID:billID,
                };
                $.ajax({
                    cache: true,
                    type: "POST",
                    url: "/user/comment",
                    data: data,
                    error: function (request) {
                        alert("连接错误")
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            alert("评价成功")
                            location.reload();
                        }
                    }
                })

            },
        }
    });


</script>
</body>
</html>
